.header{
  box-sizing:border-box ;
  -webkit-box-sizing: border-box;
  padding: 0 50px;
  background-color: #000;
  height:80px;
  width:100%  ;
  max-width:100%;
  z-index:100;
  position:fixed;
  display:flex;
  align-items: center;
  top:0;
  margin:0px;
  &__content{
    display: flex;
    justify-content:space-between;
    width:100%;
    &__left{
      &__logo{
        color:#ffffff;
        font-family: Md_Gothic11;
        font-size:40px;
      }
      &__logo:hover{
        color:#cccccc;
      }
    }
    &__right{
      display: flex;
      align-items: center;
      &__searchArea{
        &__textBox{
          width:300px;
          height:30px;
          padding:0 5px;
        }
        &__button{
          color:#ffffff;
          width:20px;
          padding-left:5px;
        }
        &__button:hover{
          opacity:0.5;
        }
      }
    }
  }
}

a{
  text-decoration: none;
}



