.new{
  background-color:#111111;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'M PLUS 1p', sans-serif;
  color:#ffffff;
  text-align: center;

  padding:  130px 100px;
  &__title{
    color:#ffffff;
    font-size:30px;
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
    border-bottom: double 2px #ffffff;
    width:200px;
    // font-family: 'M PLUS 1p', sans-serif;

  }
  
  &__contents{
    padding: 0 100px;
    &__file{
      display: flex;
      justify-content: center;
      &__image{
        margin-right:20px;
        &__previewArea{
          &__position{
            position: relative;
            text-align: center;
            top:-140px;
          }
        }
        &__inputArea{
          &__clear{
            display: none;
          }
          &__file{
            color:#808080;
            font-family: Helvetica, Arial, sans-serif;
            font-weight:500;
            font-size: 18px;
            border-radius: 5px;
            background-color: transparent;
            border:2px solid #CC6666;
            transition: all 0.3s;
            align-items: center;
            padding:10px ;
            width:100%;
            box-sizing: border-box;
            outline:0;
            width:390px;
            height:52px;
            top:-20px;
            position: relative;
          }
        }
      }
      &__embed_code{
        &__previewArea{
          &__position{
            position: relative;
            text-align: center;
            top:-140px;

          }
        }
      }
    }
    &__genre{
      margin-bottom:70px;
      max-width: 800px;
      &__formBox{
        padding-top:20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .genreBox{
          display: flex;
          font-size: 14px;
          label{
            display: flex; 
            margin: 5px;
            width: 190px;
            height: 80px;
            text-align: center;
            line-height: 45px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
            color: #ffffff;
            border: 2px solid  #CC6666;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
          }
          label:hover{
            opacity: 0.5;
          }
          input[type="checkbox"]:checked + label{
            background-color:#ff6347;
            color: #ffffff;
          }
        }
      }
    }
    &__rating{
      margin-bottom: 50px;
      .new__ratingInput{
      }
      input {
        border-width: 1px;
        border-left: none;
        border-right: none;
        border:2px solid #CC6666;
        height: 50px;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: textfield;
      }
      input:focus{
        outline:0;
        -webkit-appearance: none;
        -moz-appearance:textfield;
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;  //chromeとsafari標準のspinner削除
        -moz-appearance:textfield; //firefoxとie標準のspinner削除
      }
      .btnSpinner{
        width:50px;
        padding: 6px 12px;
        background-color: #CC6666;
        border: 1px solid transparent;
        color:#fff ;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }
      .btnSpinner:hover{
        opacity:0.5;
      }
      .btnSpinner:active{
        background-color:#cc6633; 
        border:none;
      }
      .new__ratingInput{
        width:680px;
        padding: 13px;
        background-color: #111111;
        color: #fff;
      }
      
    }
  }
  .new__form{
    margin: 0px 16px 24px;

    .new__formSubmit{
      background-color: #cc3333;
      color: #ffffff;
      height: 50px;
      width:800px;
      font-size: 18px;
    }
    .new__form__back{
      .new__form__back__link{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;;
        color:#ffffff
      }
    }
  }
}

.new__input{
  color:#ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 50px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  width:800px;
  font-family: 'M PLUS 1p', sans-serif;

}

.new__input__embed{
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 50px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  width:390px;
  top:-20px;
  position: relative;
  font-family: 'M PLUS 1p', sans-serif;
}

.new__input__textArea{
  color:#ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 50px;
  box-sizing: border-box;
  outline:0;
  width:800px;
  font-family: 'M PLUS 1p', sans-serif;
  height:300px;
  resize: none;
}

.new__input:focus{
  border:2px solid #CC4949;
}

i{
  color: white;
  font-size:20px;
}

input[type="checkbox"]{
  display: none;
}