.main{
  box-sizing: border-box;
  width:100vw;
  height:100vh;
  margin-top:-7px;
  vertical-align: top;
  &__image{
    box-sizing: border-box;
    display: flex;
    // flex-wrap:wrap;
    text-align: left;
    &__leftArea{
      width: 44%;
      &__center{
        &__backgroundImage{
        }
          image{
            width:100%;
          }
          img{
            width:100%;
          }
      }
    }
    &__rightArea{
      width:66%;
      &__top{
        ul{
          display: flex;
          // flex-wrap: wrap;
          &__left{
            width:33%;
            &__backgroundImage{
              width:100%;
              image{
                width: 100%;
              }
              img{
                width:100%;
                // height:calc( 100% - 45%);
              }
            }
          }

          &__right{
            width:33%;
            &__backgroundImage{
              width:100%;
              &__image{
                width:100%;
              }
              img{
                left:0;
                width:100%;
                // height:calc( 100% - 45%);
              }
            }
          }
        }
      }


      &__bottom{
        &__backgroundImage{
          // &__image{
          // }
          img{

          }
        }
      }
    }
  }
}

li{
  list-style: none;
}