@font-face{
  font-family: 'Md_Gothic11';
  src: font-url('Md_Gothic11.ttf') format('truetype');
  src: asset-url('Md_Gothic11.ttf') format('truetype');

  font-weight: normal;
  font-style:normal;

}