.descriptionImageArea
  .descriptionImageArea__backgroundImage
    =image_tag 'description/photo-1585951237318-9ea5e175b891.jpeg', alt: 'descriptionImage', class: 'descriptionImageArea__backgroundImage__blurImage'
    %h2.descriptionImageArea__backgroundImage__blurImage__text
      主観で映画の評価をするアプリケーションです。
      %br
      好きな映画の傾向を振り返るために作成しました。
