%body
  =render partial: 'header'
  =render partial: 'descriptionImage'

  .main
    %ul.main__image
      %li.main__image__leftArea
        .main__image__leftArea__center
          .main__image__leftArea__center__backgroundImage
            =image_tag 'description/photo-1512113569142-8a60fccc7caa.jpeg', alt: 'mainImageLeft', class: 'main__image__leftArea__center__backgroundImage__blurImage'

      %li.main__image__rightArea
        %ul
          %li.main__image__rightArea__top
            %ul
              %li.main__image__rightArea__top__left
                .main__image__rightArea__top__left__backgroundImage
                  =image_tag 'description/photo-1579702493440-8b1b56d47e03.jpeg',alt:'main__image__rightArea__top__left__backgroundImage__image',class:'main__image__rightArea__top__left__backgroundImage__blurImage'

              %li.main__image__rightArea__top__right
                .main__image__rightArea__top__right__backgroundImage
                  =image_tag 'description/astronaut-4106766_1920.jpg',alt:'main__image__rightArea__top__right__backgroundImage__image',class:'main__image__rightArea__top__right__backgroundImage__blurImage'
            
          %li.main__image__rightArea__bottom
            .main__image__rightArea__bottom__backgroundImage
              =image_tag 'description/photo-1598827510504-b204c095f5cb.jpeg',alt:'main__image__rightArea__bottom__backgroundImage__image',class:'main__image__rightArea__bottom__backgroundImage__blurImage'


    .main__contentLists
      %h2
        閲覧カテゴリを選択
      %ul.main__contentLists__contentList
        =link_to '#' do
          %li.main__contentLists__contentList__director
            .main__contentLists__contentList__director__backgroundImage
              =image_tag 'description/pexels-kyle-loftus-3379933.jpeg',alt:'main__contentLists__contentList__director__backgroundImage__image',class:'main__contentLists__contentList__director__backgroundImage__blurImage'
            %h3.main__contentLists__contentList__director__text
              映画監督別

        =link_to '#' do
          %li.main__contentLists__contentList__actor
            .main__contentLists__contentList__actor__backgroundImage
              =image_tag 'description/scarf-3339049_1280.jpg',alt:'main__contentLists__contentList__actor__backgroundImage__image',class:'main__contentLists__contentList__actor__backgroundImage__blurImage'
            %h3.main__contentLists__contentList__actor__text
              俳優別

        =link_to '#' do
          %li.main__contentLists__contentList__genre
            .main__contentLists__contentList__genre__backgroundImage
              =image_tag 'description/photo-1525280784898-86fc8963da25.jpeg',alt:'main__contentLists__contentList__genre__backgroundImage__image',class:'main__contentLists__contentList__genre__backgroundImage__blurImage'
            %h3.main__contentLists__contentList__genre__text
              ジャンル別

        =link_to '#' do
          %li.main__contentLists__contentList__releaseDate
            .main__contentLists__contentList__releaseDate__backgroundImage
              =image_tag 'description/photo-1601367044407-c11573b40186.jpeg',alt:'main__contentLists__contentList__releaseDate__backgroundImage__image',class:'main__contentLists__contentList__releaseDate__backgroundImage__blurImage'
            %h3.main__contentLists__contentList__releaseDate__text
              公開日別